* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}

img {
  display: inline-block;
}


section {
  margin-bottom: 160px;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0;
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-bar li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #141414;
}

#btn-1 {
  background: #1f4037;
  border: 1px solid #1f4037;
  border-radius: 40px;
  padding: 8px 20px;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fdfdfd;
  transition: 0.3s
}

#btn-1:hover {
  box-shadow: 0 3px 5px 5px rgba(31, 64, 55, 0.2);
  transform: scale(1.05);
}

#btn-1:active {
  box-sizing: 0 0 5px 5px rgba(31, 64, 55, 0.2);
  transform: translateY(2px);
}

.hero {
  padding: 117px 224px;
  position: relative;
  box-shadow: 0 20px 50px 0 rgba(31, 64, 55, 0.2);
  background: #edf1ee;
  border-radius: 0 0 40px 40px;
}

.hero .img-1,
.hero .img-2 {
  position: absolute;
}

.hero .img-1 {
  right: 0;
  top: 227px;
}

.hero .img-2 {
  left: 0;
  top: 69px;
}

.hero .text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero .text h1 {
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  color: #1f4037;
  margin-bottom: 18px;
}

.hero .text img {
  margin-bottom: 84px;
}

.section-1 {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.section-1 h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #1f4037;
  margin-bottom: 24px;
}

.section-1 p {
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  color: #141414;
  max-width: 768px;
  margin-bottom: 80px;
}

.section-1 ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 31px;
}

.section-1 ul li {
  padding: 20px 0;
  width: 287px;
  transition: 0.3s;
}

.section-1 ul li:hover {
  box-shadow: 0 5px 20px 0 rgba(31, 64, 55, 0.2);
  border-radius: 20px;
  background: #edf1ee;
}

.section-1 ul li img {
  margin-bottom: 30px;
}

.section-1 ul li h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #141414;
  margin-bottom: 16px;
}

.section-1 ul li p {
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  color: #141414;
  margin-bottom: 0;
}

#slider {
  background: #edf1ee;
  width: 100%;
  padding: 60px 0;
  display: flex;
  overflow: hidden;
  width: 100%;
}

.section-2 ul {
  display: flex;
  width: 100%;
  overflow: auto;
  gap: 30px;
}


.section-2 ul::-webkit-scrollbar {
  display: none;
}

.section-2 ul {
  -ms-overflow-style: none;
}

.section-2 ul li {
  padding: 40px;
  background: #fdfdfd;
  gap: 20px;
  border-radius: 40px;
}

.slider {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.section-2 ul li h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #1f4037;
  width: 525px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.section-2 ul li p {
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  color: #141414;
  margin-bottom: 20px;
}

.section-2 ul li p span {
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  color: #1f4037;
}

.section-2 ul li .p1 {
  margin-bottom: 40px;
}

.section-2 .btns {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 80px;
  gap: 20px;
}

.section-2 button {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}

.section-2 button:active {
  scale: 1.05;
}

.section-3 {
  display: flex;
  justify-content: space-between;
  padding-top: 160px;
  gap: 170px;
}

.section-3 .text {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  gap: 24px;
}

.section-3 .text h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #1f4037;
}

.section-3 .text p {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #141414;
}

.section-3 ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.section-3 ul li {
  max-width: 286px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section-3 ul li .text2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section-3 ul li .text2 h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #141414;
}

.section-3 ul li .text2 p {
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  color: #141414;
}

.section-4 {
  background-image: url(../assets/img/section-4-bg.png);
  width: 100%;
  height: 781px;
  border-radius: 40px;
  position: relative;
}

.section-4 .text3 {
  position: absolute;
  left: 40px;
  background: #edf1ee;
  padding: 40px;
  border-radius: 40px;
  bottom: 40px;
}

.section-4 .text3 h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #1f4037;
}

.section-4 .text3 p {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #141414;
  max-width: 711px;
}

.section-4 .text3 p span {
  font-weight: 700;
  color: #1f4037;
}

.section-5 {
  display: flex;
  flex-direction: column;
}

.section-5 h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #1f4037;
  margin-bottom: 24px;
}

.section-5 p {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #141414;
  max-width: 711px;
  margin-bottom: 60px;
}

.section-5 ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.section-5 ul .outer-li {
  border: 1px solid #1f4037;
  border-radius: 20px;
  padding: 40px;
  width: 600px;
  height: 325px;
  transition: 0.5s;
  gap: 20px;
}

.section-5 ul .outer-li:hover {
  background: #edf1ee;
}

.section-5 ul .outer-li h5 {
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  color: #1f4037;
  margin-bottom: 20px;
}

.section-5 ul .outer-li ul {
  list-style: inside;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0;

}

.section-5 ul .outer-li ul li {
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  color: #141414;
}

.section-6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-6 .text h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #1f4037;
  margin-bottom: 20px;
}

.section-6 .text p {
  font-weight: 400;
  font-size: 18px;
  color: #141414;
  margin-bottom: 44px;
  max-width: 605px;
}

.section-6 .text .signdiv {
  display: flex;
  border: 1px solid #1f4037;
  border-radius: 40px;
  padding: 12px 30px;
  justify-content: space-between;
  position: relative;
  max-width: 513px;
  margin-bottom: 16px;
}

.section-6 .text .signdiv input {
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #141414;
}

.section-6 .text .signdiv button {
  background: #1f4037;
  border: 1px solid #1f4037;
  border-radius: 40px;
  padding: 12px 24px;
  position: absolute;
  right: 0;
  top: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fdfdfd;
  transition: 0.3s
}

.section-6 .text .signdiv button:hover {
  box-shadow: 0 3px 5px 5px rgba(31, 64, 55, 0.2);
  transform: scale(1.05);
}

.section-6 .text .signdiv button:active {
  box-sizing: 0 0 5px 5px rgba(31, 64, 55, 0.2);
  transform: translateZ(2px);
}


.section-6 .text .last {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #141414;
}

.section-6 .text .last span {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

footer .top {
  display: flex;
  align-items: center;
  gap: 231px;
  justify-content: flex-start;
  margin-bottom: 34px;
}

footer .line {
  height: 1px;
  width: 100%;
  background-color: #141414;
  margin-bottom: 16px;
}

footer .bottom ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

footer .bottom ul li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #141414;
}