* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}

img {
  display: inline-block;
}


section {
  margin-bottom: 160px;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0;
}

header .top button {
  background: transparent;
  border: none;
  display: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-bar li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #141414;
}

#btn-1 {
  background: #1f4037;
  border: 1px solid #1f4037;
  border-radius: 40px;
  padding: 8px 20px;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fdfdfd;
  transition: 0.3s;
}

#btn-1 a {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fdfdfd;
  transition: 0.3s;
  text-decoration: none;

}

#btn-1:hover {
  box-shadow: 0 3px 5px 5px rgba(31, 64, 55, 0.2);
  transform: scale(1.05);
}

#btn-1:active {
  box-sizing: 0 0 5px 5px rgba(31, 64, 55, 0.2);
  transform: translateY(2px);
}

.hero {
  padding: 117px 224px;
  position: relative;
  box-shadow: 0 20px 50px 0 rgba(31, 64, 55, 0.2);
  background: #edf1ee;
  border-radius: 0 0 40px 40px;
}

.hero .img-1,
.hero .img-2 {
  position: absolute;
}

.hero .img-1 {
  right: 0;
  top: 227px;
}

.hero .img-2 {
  left: 0;
  top: 69px;
}

.hero .text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero .text h1 {
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  color: #1f4037;
  margin-bottom: 18px;
}

.hero .text img {
  margin-bottom: 84px;
}

.section-1 {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.section-1 h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #1f4037;
  margin-bottom: 24px;
}

.section-1 p {
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  color: #141414;
  max-width: 768px;
  margin-bottom: 80px;
}

.section-1 ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.section-1 ul li {
  width: 287px;
  transition: 0.3s;
}

.section-1 ul li img {
  margin-bottom: 30px;
}

.section-1 ul li h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #141414;
  margin-bottom: 16px;
}

.section-1 ul li p {
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  color: #141414;
  margin-bottom: 0;
}

#slider {
  background: #edf1ee;
  width: 100%;
  padding: 60px 0;
  display: flex;
  overflow: hidden;
  width: 100%;
}

.section-2 ul {
  display: flex;
  width: 100%;
  overflow: auto;
  gap: 30px;
}


.section-2 ul::-webkit-scrollbar {
  display: none;
}

.section-2 ul {
  -ms-overflow-style: none;
}

.section-2 ul li {
  padding: 40px;
  background: #fdfdfd;
  gap: 20px;
  border-radius: 40px;
}

.slider {
  width: 100%;
  margin: 0 auto;
}

.section-2 ul li h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #1f4037;
  width: 525px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.section-2 ul li p {
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  color: #141414;
  margin-bottom: 20px;
}

.section-2 ul li p span {
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  color: #1f4037;
}

.section-2 ul li .p1 {
  margin-bottom: 40px;
}

.section-2 .btns {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 80px;
  gap: 20px;
}

.section-2 button {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}

.section-2 button:active {
  scale: 1.05;
}

.section-3 {
  display: flex;
  justify-content: space-between;
  padding-top: 160px;
  gap: 170px;
  flex-wrap: wrap;
}

.section-3 .text {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  gap: 24px;
}

.section-3 .text h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #1f4037;
}

.section-3 .text p {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #141414;
}

.section-3 ul {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-3 ul li {
  max-width: 286px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section-3 ul li .text2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section-3 ul li .text2 h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #141414;
}

.section-3 ul li .text2 p {
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  color: #141414;
}

.section-4 {
  background-image: url(../assets/img/section-4-bg.png);
  width: 100%;
  height: 781px;
  border-radius: 40px;
  position: relative;
  background-position: center;
}

.section-4 .text3 {
  position: absolute;
  left: 40px;
  background: #edf1ee;
  padding: 40px;
  border-radius: 40px;
  bottom: 40px;
}

.section-4 .text3 h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #1f4037;
}

.section-4 .text3 p {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #141414;
  max-width: 711px;
}

.section-4 .text3 p span {
  font-weight: 700;
  color: #1f4037;
}

.section-5 {
  display: flex;
  flex-direction: column;
}

.section-5 h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #1f4037;
  margin-bottom: 24px;
}

.section-5 p {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #141414;
  max-width: 711px;
  margin-bottom: 60px;
}

.section-5 ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.section-5 ul .outer-li {
  border: 1px solid #1f4037;
  border-radius: 20px;
  padding: 40px;
  width: 600px;
  height: 325px;
  transition: 0.5s;
  gap: 20px;
}

.section-5 ul .outer-li:hover {
  background: #edf1ee;
}

.section-5 ul .outer-li h5 {
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  color: #1f4037;
  margin-bottom: 20px;
}

.section-5 ul .outer-li ul {
  list-style: inside;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0;

}

.section-5 ul .outer-li ul li {
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  color: #141414;
}

.section-6 {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  gap: 30px;
}

.section-6 .text h2 {
  font-weight: 700;
  max-width: 600px;
  font-size: 48px;
  line-height: 120%;
  color: #1f4037;
  margin-bottom: 20px;
}

.section-6 .text p {
  font-weight: 400;
  font-size: 18px;
  color: #141414;
  margin-bottom: 44px;
  max-width: 605px;
}

.section-6 .text .signdiv {
  display: flex;
  border: 1px solid #1f4037;
  border-radius: 40px;
  justify-content: space-between;
  position: relative;
  max-width: 513px;
  margin-bottom: 16px;
}

.section-6 .text .signdiv input {
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #141414;
  border-radius: 40px;
  width: 100%;
  padding: 12px 30px;

}

.section-6 .text .signdiv button {
  background: #1f4037;
  border: 1px solid #1f4037;
  border-radius: 40px;
  padding: 12px 24px;
  position: absolute;
  right: 0;
  top: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fdfdfd;
  transition: 0.3s
}

.section-6 .text .signdiv button:hover {
  box-shadow: 0 3px 5px 5px rgba(31, 64, 55, 0.2);
  transform: scale(1.05);
}

.section-6 .text .signdiv button:active {
  box-sizing: 0 0 5px 5px rgba(31, 64, 55, 0.2);
  transform: translateZ(2px);
}


.section-6 .text .last {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #141414;
  margin-bottom: 0;
}

.section-6 .text .last span {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.section-6 img {
  border-radius: 40px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

footer .top {
  display: flex;
  align-items: center;
  /* gap: 231px; */
  justify-content: space-between;
  margin-bottom: 34px;
}

footer .top .something {
  width: 210px;
  height: 10px;
  background-color: transparent;
}

footer .line {
  height: 1px;
  width: 100%;
  background-color: #141414;
  margin-bottom: 16px;
}

footer .bottom ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

footer .bottom ul li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #141414;
}


@media (max-width:1280px) {
  .section-1 ul {
    gap: 0;
    flex-wrap: wrap;
  }

  .section-1 ul li {
    width: 49%;
    margin-bottom: 30px;
    min-width: 287px;
  }


}

@media (max-width: 1274px) {

  .section-3 ul li {
    width: 49%;
    min-width: 500px;
    margin-bottom: 30px;
  }

  .section-5 ul {
    gap: 10px;
  }

  .section-5 ul .outer-li {
    padding: 20px;
    min-width: 500px;
    width: 49%;
    margin-bottom: 10px;
  }

  .section-6 {
    gap: 10px;
  }

  .section-6 .text {
    width: 49%;
  }

  .section-1 h2 {
    font-size: 44px;
  }

  .section-2 ul li h2 {
    font-size: 44px;
  }

  .section-3 .text h2 {
    font-size: 44px;
  }

  .section-4 .text3 h2 {
    font-size: 44px;
  }

  .section-5 h2 {
    font-size: 44px;
  }

  .section-6 .text h2 {
    font-size: 44px;
  }

  .section-6 .text p {
    max-width: 500px;
  }

  .section-6 img {
    width: 49%;
    height: auto;
    object-fit: fill;
  }
}


@media (max-width: 1120px) {
  .hero .text h1 {
    font-size: 50px;
  }

  .section-1 ul li {
    width: 49%;
  }

  .hero .img-2 {
    width: 15%;
    height: auto;
  }

  .hero .img-1 {
    width: 15%;
    top: 50%;
    height: auto;
  }
}

@media (max-width: 1090px) {
  .hero .text h1 {
    font-size: 45px;
  }

  .hero .text img {
    width: 400px;
    margin-bottom: 30px;
  }

  .section-3 ul {
    gap: 0;
  }

  .section-6 {
    align-items: stretch;
  }

  .section-6 img {
    object-fit: cover;
  }
}

@media (max-width: 1050px) {

  .section-5 ul .outer-li ul li {
    font-size: 18px;
  }

  .section-1 ul {
    gap: 10px;
  }

  .section-1 ul li {
    min-width: 350px;
  }

  .section-3 {
    gap: 70px;
  }

  .section-5 ul .outer-li {
    min-width: 300px;
    width: 49%;
    height: 300px;
  }

  .section-1 h2 {
    font-size: 40px;
  }

  .section-2 ul li h2 {
    font-size: 40px;
  }

  .section-3 .text h2 {
    font-size: 40px;
  }

  .section-3 ul {
    gap: 0px;
  }

  .section-3 ul li {
    min-width: 400px;
  }

  .section-4 .text3 h2 {
    font-size: 40px;
  }

  .section-5 h2 {
    font-size: 40px;
  }

  .section-6 .text h2 {
    font-size: 40px;
  }

  .section-6 p {
    width: 100%;
  }

  p {
    font-size: 18px !important;
    width: max-content;
  }
}

@media (max-width: 960px) {

  .section-3 ul li {
    min-width: 350px;
  }

  .hero .text h1 {
    font-size: 38px;
  }

  #slider h2 {
    font-size: 2.2rem;
  }

  .section-1 h2 {
    font-size: 2.2rem;
  }

  .section-2 ul li h2 {
    font-size: 2.2rem;
  }

  .section-3 .text h2 {
    font-size: 2.2rem;
  }

  .section-4 .text3 h2 {
    font-size: 2.2rem;
  }

  .section-5 h2 {
    font-size: 2.2rem;
  }

  .section-6 .text h2 {
    font-size: 2.2rem;
  }

  #slider p {
    font-size: 1rem;
  }
}

@media (max-width: 920px) {
  .hero .text h1 {
    font-size: 35px;
  }

  .hero .text img {
    width: 300px;
  }

  .section-1 h2 {
    font-size: 30px;
  }

  .section-2 ul li h2 {
    font-size: 30px;
  }

  .section-3 .text h2 {
    font-size: 30px;
  }

  .section-4 .text3 h2 {
    font-size: 30px;
  }

  .section-5 h2 {
    font-size: 30px;
  }

  .section-4 .text3 {
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -10%);
    width: 95%;
  }

  .section-6 .text h2 {
    font-size: 30px;
  }

  .section-6 .text p {
    margin-bottom: 20px;
  }

  h5 {
    font-size: 20px !important;
  }
}

@media (max-width: 850px) {
  h1 {
    font-size: 30px !important;
  }

  p {
    width: 100% !important;
  }

  #slider p {
    width: 525px;
  }

  #slider p span {
    width: 525px;
    font-size: 18px;
  }
}

@media (max-width: 770px) {
  .container {
    padding: 0 20px;
  }

  .hero .text {
    width: 90%;
  }

  .hero .text h1 {
    font-size: 30px;
    width: 350px;
  }

  .hero .img-1 {
    top: 60%;
  }

  .hero .text button {
    width: max-content;
  }

  .section-2 ul li h2 {
    width: 100%;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  header .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    width: 100%;
  }

  header .top .btns-menu {
    display: flex;
  }

  header .top button {
    background: transparent;
    border: none;
    display: block;
    cursor: pointer;
  }

  header .top .btns-menu .close-icon {
    display: none;
  }

  header .nav-bar {
    position: absolute;
    margin-top: 30px;
    background: white;
    padding: 40px;
    transition: right 0.3s ease;
    align-items: start;
    z-index: 2;
    width: 100%;
    display: none;
  }

  .nav-bar li {
    margin-bottom: 8px;
  }

  .nav-bar.active {
    display: flex;

  }

  .nav-bar button {
    width: 100%;
  }

  .section-1 ul li {
    width: 100%;
  }

  #slider {
    margin: 0;
    padding: 0;
  }

  .section-2 {
    padding: 40px;
  }

  .section-2 ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-self: center;
    gap: 16px;
  }

  .section-2 ul li {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
    height: auto;
    width: 100%;
  }

  .section-2 ul li img {
    width: 26px;
    margin-bottom: 8px;
  }

  .section-2 ul li h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    color: #1f4037;
    margin: 0;

  }

  .section-2 ul li .p1 {
    margin-bottom: 8px;
  }

  .section-2 ul li p {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #141414;
    margin-bottom: 0;
  }

  .section-2 ul li p span {
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    color: #1f4037;
    margin-bottom: 0;
  }

  .section-2 .btns {
    display: none;
  } 

  .section-3 ul li {
    width: 100%;
    max-width: none;
  }

  .section-5 ul .outer-li {
    width: 100%;
    height: fit-content;
  }

  .section-6 {
    flex-wrap: wrap-reverse;
  }

  .section-6 img {
    margin-bottom: 24px;
    width: 100%;
  }

  .section-6 .text {
    width: 100%;
  }

  .section-6 .text h2 {
    max-width: none;
    width: 100%;
  }

  .section-6 .text p {
    width: 100%;
    max-width: none;
  }

 

  .section-6 .text .signdiv {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 8px;
    max-width: none;
    align-items: center;
    justify-self: center;
    width: 100%;
  }

  .section-6 .text .signdiv input {
    width: 100%;
    border: 0.49px solid #1f4037;
    border-radius: 26px;
    padding: 6px 20px;

    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #141414;
  }

  .section-6 .text .signdiv button {
    position: relative;
    border: 0.5px solid #1f4037;
    border-radius: 26px;
    padding: 3px 25px;
    width: 100%;

    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #fdfdfd;
  }

  .section-6 .text .last {
    max-width: none;
    width: 100%;
  }
}








@media (max-width: 431px) {

  .container {
    margin: 0 auto;
    padding: 0;
  }

  #slider {
    width: 100%;
    max-width: none;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  header .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    width: 100%;
  }

  header .top .btns-menu {
    display: flex;
  }

  header .top button {
    background: transparent;
    border: none;
    display: block;
    cursor: pointer;
  }

  header .top .btns-menu .close-icon {
    display: none;
  }

  header .nav-bar {
    position: absolute;
    margin-top: 40px;
    background: white;
    padding: 40px;
    transition: right 0.3s ease;
    align-items: start;
    z-index: 2;
    width: 100%;
    display: none;
  }

  .nav-bar li {
    margin-bottom: 8px;
  }

  .nav-bar.active {
    display: flex;

  }

  .nav-bar button {
    width: 100%;
  }

  .hero {
    padding: 165px 40px;
    position: relative;
    box-shadow: 0 20px 50px 0 rgba(31, 64, 55, 0.2);
    background: #edf1ee;
    border-radius: 0 0 40px 40px;
  }

  .hero .img-2 {
    left: 0;
    top: 20px;
    width: 80px;
    height: 127px;
  }

  .hero .img-1 {
    right: 0;
    top: 327px;
    width: 91px;
    height: 153px;
  }

  .hero .text h1 {
    font-weight: 700;
    font-size: 24px;
    max-width: 295px;
    text-align: center;
    font-size: 24px;
    color: #1f4037;
  }

  .hero .text img {
    width: 217px;
    height: 13px;
    margin-bottom: 30px;
  }

  section {
    padding: 0 40px;
    margin-bottom: 50px;
  }

  .logo {
    width: 143px;
    height: 25px;
  }

  .section-1 h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #1f4037;
    margin-bottom: 8px;
  }

  .section-1 p {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #141414;
    margin-bottom: 26px;
    max-width: 295px;
  }

  .section-1 ul {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 26px;
  }

  .section-1 ul li {
    width: 100%;
  }

  .section-1 ul li img {
    width: 14px;
    margin-bottom: 16px;
  }

  .section-1 ul li h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: #141414;
    margin-bottom: 8px;
  }

  .section-1 ul li p {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #141414;
  }

  #slider {
    margin: 0;
    padding: 0;
  }

  .section-2 {
    padding: 40px;
  }

  .section-2 ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-self: center;
    gap: 16px;
  }

  .section-2 ul li {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
    width: 100%;
    height: auto;
  }

  .section-2 ul li img {
    width: 26px;
    margin-bottom: 8px;
  }

  .section-2 ul li h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    color: #1f4037;
    width: max-content;
    margin: 0;
    max-width: 224px;

  }

  .section-2 ul li .p1 {
    margin-bottom: 8px;
  }

  .section-2 ul li p {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #141414;
    max-width: 255px;
    margin-bottom: 0;
  }

  .section-2 ul li p span {
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    color: #1f4037;
    margin-bottom: 0;
  }

  .section-2 .btns {
    display: none;
  }

  .section-3 {
    display: flex;
    flex-direction: column;
    padding: 60px 40px;
    gap: 26px;
    margin-bottom: 0;
  }

  .section-3 .text {
    margin-bottom: 26px;
    width: 100%;
    left: 50%;
  }

  .section-3 .text h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #1f4037;
    margin-bottom: 8px;
  }

  .section-3 .text p {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #141414;
  }

  .section-3 ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 26px;
  }

  .section-3 ul li {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .section-3 ul li img {
    width: 14px;
  }

  .section-3 ul li .text2 {
    display: flex;
    flex-direction: column;
    max-width: 295px;
    gap: 8px;
  }

  .section-3 ul li .text2 h5 {
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    width: 100%;
    max-width: 295px;
    color: #141414;
  }

  .section-3 ul li .text2 p {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #141414;
  }

  .section-4 {
    background-image: url(../assets/img/section-4-bg-mb.png);
    width: 295px;
    max-height: 300px;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .section-4 .text3 {
    width: 100%;
    max-height: 160px;
    bottom: -40px;
    padding: 20px;
  }

  .section-4 .text3 h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #1f4037;
    margin-bottom: 8px;
  }

  .section-4 .text3 p {
    font-weight: 500;
    font-size: 12px !important;
    line-height: 150%;
    color: #141414;
  }

  .section-4 .text3 p span {
    font-weight: 700;
    color: #1f4037;
  }

  .section-5 h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #1f4037;
    margin-bottom: 8px;
  }

  .section-5 p {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #141414;
    margin-bottom: 26px;
  }

  .section-5 ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .section-5 ul .outer-li {
    padding: 20px;
    width: 100%;
    height: 100%;
    max-width: 295px;
  }

  .section-5 ul .outer-li h5 {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    color: #1f4037;
    max-width: 224px;
    margin-bottom: 8px;
  }

  .section-5 ul .outer-li ul li {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #141414;
    max-width: 255px;
  }

  .section-6 {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }

  .section-6 img {
    width: 295px;
    height: 195px;
    margin-bottom: 24px;
  }

  .section-6 .text h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #1f4037;
    margin-bottom: 8px;
  }

  .section-6 .text p {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #141414;
  }

  .section-6 .text .signdiv {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 8px;
    align-items: center;
    justify-self: center;
    width: 100%;
  }

  .section-6 .text .signdiv input {
    width: 100%;
    border: 0.49px solid #1f4037;
    border-radius: 26px;
    padding: 6px 20px;
    height: 23px;

    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    color: #141414;
  }

  .section-6 .text .signdiv button {
    position: relative;
    border: 0.5px solid #1f4037;
    border-radius: 26px;
    padding: 3px 25px;
    width: 100%;

    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    color: #fdfdfd;
  }

  .section-6 .text .last {
    font-weight: 500;
    font-size: 6px;
    line-height: 150%;
    color: #141414;
    text-align: center;
  }

  .section-6 img {
    width: 100%;
  }

  footer {
    padding: 0 40px;
  }

  footer .top {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: start;
  }

  footer .top .nav-bar {
    display: block;
    padding: 0;
  }

  footer .top .nav-bar li a {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #1f4037;
    margin-bottom: 8px;
  }

  footer .bottom ul {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  footer .bottom ul li a {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #141414;
  }
}
